@import "constants.min.css";
@import "progress_bar.min.css";
@import "checkout.min.css";
@import "users.min.css";
@import "report.min.css";
@import "common.min.css";
@import "montserrat.min.css";

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

html body {
    font-family: 'Montserrat', serif;
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.4;
}

#wrapper {
    min-height: 100%;
    background-color: var(--color-background-white);
    position: relative;
}

#content {
    padding-top: 0rem;
    padding-bottom: 15rem;
}

#carouselArrowLeft {
    z-index: 0;
}

#carouselArrowRight {
    z-index: 0;
}

header.navbar {
    width: 100%;
    padding: 1rem;
}

footer {
    position: absolute;
    width: 100%;
    height: 12rem;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 0;
    margin-right: 0;
}

#sidebar {
    height: 100vh;
    background-color: var(--color-background-white);
}

.card-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

header.navbar {
    background-color: var(--color-background-dark-blue);
}

.avatar-pic {
    width: 150px;
}

#headerSearchIcon {
    color: var(--color-interactive-orange);
    font-size: 1.5rem;
}

.headerIcon {
    font-size: 1.5rem;
}

#offerPageSellButton {
    background-color: var(--color-interactive-orange);
    border-style: none;
}

#headerSellButton {
    background-color: var(--color-interactive-orange);
    border-style: none;
}

#offerAddNewSaleContainer {
    font-size: 1.5em;
    color: var(--color-interactive-orange);
}

#loginLogo {
    max-width: 2em;
    max-height: 2em;
    background-color: wheat;
}

#submitOfferButton {
    background-color: var(--color-interactive-orange);
    border: 0;
}

#headerFixed {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    margin-right: 0;
    margin-left: 0;
}

#checkoutStatusEmojiTrue {
    color: var(--color-interactive-green-success);
    /*font-size: 4.5em;*/
}

#checkoutStatusEmojiFalse {
    color: var(--color-interactive-red-fail);
    /*font-size: 4.5em;*/
}

#checkoutStatusTitle {
    letter-spacing: 0.1em;
    font-weight: bolder;
    color: var(--color-primary-black);
}

#checkoutStatusButton {
    background-color: var(--color-interactive-green-success);
    border-color: transparent;
}

#sidebar .showAllProductListSideBar {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border-style: none;
    color: var(--color-background-dark-blue);
}

.homepageNavbarEntry {
    margin: 0;
    padding: 0;
    margin-top: 1em;
}

.cardProductList .cardProductListImg {
    height: 10rem;
    object-fit: cover;
}

.cardHomepage .cardHomepageImg {
    object-fit: cover;
    height: 10rem;
}

#userOffersTable .userOffersTableEntryImage,
#user-past-offer-table .userOffersTableEntryImage {
    object-fit: cover;
    height: 5rem;
}

#headerFixed .searchBar {
    width: 70%;
    max-width: 35rem;
}


/* this makes sure the iamge on the card does not have padding left and right*/

#content .card {
    padding-left: 0;
    padding-right: 0;
}

#navbarHamburguer {
    border-color: var(--color-interactive-orange);
}

#navbarHamburguer .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(235,157,22, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#navbar .breadcrumb {
    padding: 0;
    margin: 0;
    background-color: transparent;
}

#navbar {
    position: relative;
    min-height: 1.5rem;
}

#breadcrumbContainer {
    position: absolute;
    left: 1.5rem;
    top: 0.5rem;
}

#breadcrumbContainer a {
    color: var(--color-primary-light-blue);
}

#navbar .showAllProductListSideBar {
    background-color: transparent;
    border-style: none;
    color: var(--color-background-dark-blue);
}

#navbar .homepageDropdownButton {
    border-color: transparent;
    color: var(--color-background-dark-blue);
    background-color: transparent;
}

#navbar .dropdown-menu {
    background-color: var(--color-background-white);
}

#navbar .dropdown-item {
    font-weight: bolder;
}

.homepageDropdownArrow {
    color: var(--color-interactive-orange);
}

#cartProductsContainer {
    margin: 0;
    padding: 0;
}

#cartProductsContainer .cartImgPreview {
    width: 5rem;
    height: 5rem;
}

#cartContainerFirstRow,
#cartContainerSecondRow {
    background-color: var(--color-background-white);
}

#cartContainerFirstRow .proceedToCheckoutButton {
    background-color: var(--color-interactive-orange);
    border: none;
}

#sideBarFilterResponsive .modal.left .modal-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

#sideBarFilterResponsive .modal.left .modal-content {
    height: 100%;
    overflow-y: auto;
}

#sideBarFilterResponsive .modal.left .modal-body {
    padding: 15px 15px 80px;
}

#sideBarFilterResponsive .modal.left.fade .modal-dialog {
    left: 0;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

#sideBarFilterResponsive .modal.left.fade.in .modal-dialog {
    left: 0;
}

#checkoutProductPreviewContainer .animationButton:hover {
    background-color: var(--color-interactive-red-fail);
    transition-duration: 0.4s;
    border: none;
}

#checkoutButtonsContainer .checkoutNextButton {
    background-color: var(--color-interactive-green-success);
    border-color: transparent;
}

#checkoutButtonsContainer .checkoutBackButton {
    background-color: var(--color-primary-light-blue);
    border-color: transparent;
}


/* buttons css */

button:focus {
    box-shadow: none !important;
    outline: none !important;
}

.btn.btn-orange {
    background-color: var(--color-interactive-orange);
    color: white;
}

.btn.btn-orange:hover {
    background-color: var(--color-interactive-orange2);
    color: white;
}

.btn.btn-blue {
    background-color: inherit;
    border: solid 1px var(--color-background-dark-blue);
    color: var(--color-background-dark-blue);
}

.btn.btn-blue:hover {
    background-color: var(--color-background-dark-blue);
    color: white;
}

.btn.btn-blue-full {
    background-color: var(--color-background-dark-blue);
    color: white;
}

.btn.btn-blue-full:hover {
    color: white;
}

.btn.btn-red {
    background-color: inherit;
    border: solid 1px var(--color-interactive-red-fail);
    color: var(--color-interactive-red-fail);
}

.btn.btn-red:hover {
    background-color: var(--color-interactive-red-fail);
    color: white;
}

.btn.btn-red-full {
    background-color: var(--color-interactive-red-fail);
    color: white;
}

.btn.btn-red-full:hover {
    color: white;
}

.btn.btn-green {
    background-color: inherit;
    border: solid 1px var(--color-interactive-green-success);
    color: var(--color-interactive-green-success);
}

.btn.btn-green:hover {
    background-color: var(--color-interactive-green-success);
    color: white;
}

.btn.btn-green-full {
    background-color: var(--color-interactive-green-success);
    color: white;
}

.btn.btn-green-full:hover {
    color: white;
}

.animationButton span {
    max-width: 0;
    -webkit-transition: max-width 1s;
    transition: max-width 1s;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
}

@media only screen and (min-width: 800px) {
    .animationButton:hover span {
        max-width: 7rem;
    }
}

/* cards css */

.card {
    border-radius: 0;
    -webkit-box-shadow: 0px 0px 12px 4px rgba(122, 122, 122, 0.24);
    -moz-box-shadow: 0px 0px 12px 4px rgba(122, 122, 122, 0.24);
    box-shadow: 0px 0px 12px 4px rgba(122, 122, 122, 0.24);
    background-color: var(--color-background-white);
    padding: 0;
}

.card:hover {
    -webkit-box-shadow: 0px 0px 25px 13px rgba(105, 105, 105, 0.69);
    -moz-box-shadow: 0px 0px 25px 13px rgba(105, 105, 105, 0.69);
    box-shadow: 0px 0px 25px 13px rgba(105, 105, 105, 0.3);
}


/* objects */

.hoverable:hover {
    cursor: pointer;
}


/* color css */

.cl-orange {
    color: var(--color-interactive-orange);
}

.cl-orange2 {
    color: var(--color-interactive-orange2);
}

.cl-green {
    color: var(--color-accent-green);
}

.cl-blue {
    color: var(--color-background-dark-blue);
}

.cl-success {
    color: var(--color-interactive-green-success);
}

.cl-fail {
    color: var(--color-interactive-red-fail);
}

.cl-white {
    color: var(--color-background-white);
}


/* backgrounds css */

.bg-orange {
    background-color: var(--color-interactive-orange);
}

.bg-green {
    background-color: var(--color-accent-green);
}

.bg-success {
    background-color: var(--color-interactive-green-success);
}

.bg-insucess {
    background-color: var(--color-interactive-red-fail);
}

.bg-white {
    background-color: var(--color-background-white);
}

.bg-dark-blue {
    background-color: var(--color-background-dark-blue);
}

.bg-aux {
    background-color: var(--color-interactive-red-fail) !important;
}

.bg-aux1 {
    background-color: var(--color-interactive-green-success) !important;
}


/* scrollable table */

.tableFixHead {
    overflow-y: auto;
    max-height: 42rem;
}

.tableFixHead thead th {
    position: sticky;
    top: 0;
}

.tableFixHead table {
    border-collapse: collapse;
    width: 100%;
    height: 600px;
}

.tableFixHead th,
td {
    padding: 8px 16px;
}

.tableFixHeadOtherUserOffer {
    overflow-y: auto;
    height: 20rem;
}

.tableFixHeadOtherUserOffer thead th {
    position: sticky;
    top: 0;
}

.tableFixHeadOtherUserOffer table {
    border-collapse: collapse;
    width: 100%;
    height: 600px;
}

.tableFixHeadOtherUserOffer th,
td {
    padding: 8px 16px;
}

#headerFixed .logo {
    max-height: 4rem;
}

#collapseContainer {
    padding: 0 !important;
    padding-top: 1rem !important;
}

#hamburguerContentNavMedium,
#hamburguerContentNavSmall {
    background-color: var(--color-background-dark-blue);
    margin: 0;
    padding: 0;
    border-color: var(--color-interactive-orange);
}

#hamburguerContentNavMedium .navbarButton,
#hamburguerContentNavSmall .navbarButton {
    height: 3rem;
    width: 6rem;
}

#hamburguerContentNavMedium .navbarButtonSmall,
#hamburguerContentNavSmall .navbarButtonSmall {
    height: 2rem;
    width: 6rem;
    font-size: 0.8em;
}

#hamburguerContentNavSmall .headerIcon {
    font-size: 0.8em;
}

#shoppingCartIconHamburguer {
    font-size: 1em;
}

li.section.visited.current.status-bar-circle:before {
    z-index: 0;
}

li.section.status-bar-circle:before {
    z-index: 0;
}

#userNavbar .userNavbarItem {
    padding: 0;
}

.adminTableImagePreview {
    max-height: 10rem;
    max-width: 10rem;
}

#content .bg-orange {
    background-color: var(--color-interactive-orange);
    border: none;
}

.btnAdminProduct {
    min-width: 8em;
}

#uploadPhotoProduct {
    max-width: 20em;
}

.adminUserTableImage {
    max-width: 5em;
    max-height: 5em;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block;
}

#profile-image {
    width: 15rem;
    height: 15rem;
}

.noHover {
    pointer-events: none !important;
}

.nobr {
    white-space: nowrap;
}

#profile-image-icon {
    height: 1.5rem;
    width: 1.5rem;

}

#carouselExampleIndicators carousel-indicators li {
    z-index: 999;
}

#headerFixed {
    z-index: 100;
}