#reportBorderInfo {
    border-right: 1px dashed lightgrey;
}

#paypalButton:hover {
    background-color: orange;
}

#paypalButton:default {
    border: blue;
}

#deleteAccountButton:hover {
    background-color: var(--color-interactive-red-fail);
    color: white;
    border: none;
}

.badge.marginBadge {
    margin-left: 10px;
}

@media only screen and (max-width: 768px) {
    #userNavbar .btnMediaSmall {
        padding: .25rem .5rem;
        font-size: .875rem;
        line-height: 1.5;
        border-radius: .2rem;
    }
}