.active-border {
    cursor: pointer;
    border-bottom: 0.2em solid var(--color-interactive-orange);
}
.inactive-border:hover {
    cursor: pointer;
    border-bottom: 0.2em solid var(--color-primary-light-blue);
}